$primary: #333333;
$secondary: #494949;

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#bg {
    background-color: $primary;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#appbar {
    background-color: $secondary;
    width: 100vw;
    height: 10vh;
}

.card {
    background-color: $secondary;
    width: fit-content;
    height: fit-content;
    max-width: 480px;
    max-height: 600vh;
    cursor: move;

    .title {
        font-size: 1.5em;
        color: white;
        padding: 10%;
    }

    .description {
        font-size: 1.2em;
        color: white;
        padding: 10%;
    }
}